<!-- <form #contactForm="ngForm" (ngSubmit)="OnSubmit(contactForm)">
  <button type="submit" [disabled]="!contactForm.valid">Add Product</button>
</form> -->
<!-- {{newProduct|json}} -->
<br>
<div class="row row justify-content-center">

<H1 class="col-md-6">Adding new Product :</H1>
</div><form id="contact-form"  #contactForm="ngForm" (ngSubmit)="OnSubmit(contactForm)">
  <div class="controls">
    <div class="row row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="EnName">English Name *</label>
          <input id="EnName" #EnName="ngModel"[(ngModel)]="product.en_Name" class="form-control form-control-lg" ngModel required type="text"  name="EnName" pattern="[a-zA-Z\s]+" maxlength="50"  >
          <label for="EnName" *ngIf="EnName?.errors?.['required'] && (EnName?.dirty || EnName?.touched)" style="color: red;">This Field is required</label>
          <label for="EnName" *ngIf="EnName?.errors?.['pattern']" style="color: red;">English Letters Only..</label>
        </div>
      </div>
  </div>
  <br>
  <div class="row row justify-content-center">
    <div class="col-md-6">
      <div class="form-group">
          <label for="ArName">Arabic Name *</label>
          <input id="ArName" #ArName="ngModel"[(ngModel)]="product.ar_Name"class="form-control form-control-lg" ngModel required type="text"  name="ArName"  maxlength="50" pattern="^[\u0621-\u064A ]+$">
          <label for="ArName" *ngIf="ArName?.errors?.['required'] && (ArName?.dirty || ArName?.touched)" style="color: red;">This Field is required</label>
          <label for="ArName" *ngIf="ArName?.errors?.['pattern']" style="color: red;">حروف عربية فقط..</label>
      </div>
    </div>
</div>
<br>
<div class="row row justify-content-center">
  <div class="col-md-6">
    <div class="form-group">
      <label for="Quantity">Quantity *</label>
      <input id="Quantity" #Quantity="ngModel" [(ngModel)]="product.quantity" class="form-control form-control-lg" ngModel required type="number" min="1" max="10000"  name="Quantity"  >
      <label for="Quantity" *ngIf="Quantity?.errors?.['required'] && (Quantity?.dirty || Quantity?.touched)" style="color: red;">This Field is required</label>
      <label for="Quantity" *ngIf="Quantity?.errors?.['max']" style="color: red;">Max quantity is 10000</label>
      <label for="Quantity" *ngIf="Quantity?.errors?.['min']" style="color: red;">Min quantity is 1</label>


    </div>
  </div>
</div>
<br>
<div class="row row justify-content-center">
  <div class="col-md-6">
    <div class="form-group">
      <label for="Price">Price *</label>
      <input id="Price" #Price="ngModel" [(ngModel)]="product.price" class="form-control form-control-lg" ngModel required type="number" min="1" max="100000"  name="Price"  >
      <label for="Price" *ngIf="Price?.errors?.['required'] && (Price?.dirty || Price?.touched)" style="color: red;">This Field is required</label>
      <label for="Price" *ngIf="Price?.errors?.['max']" style="color: red;">Max Price is 100000</label>
      <label for="price" *ngIf="Price?.errors?.['min']" style="color: red;">Min price is 1</label>


    </div>
  </div>
</div>
<br>


<div class="row row justify-content-center">
      <div class="col-md-6" >
        <div class="form-group">
          <label for="vendor">Vendor *</label>
          <select class="form-control form-control-lg"  id="vendor" #vendor="ngModel" ngModel  (change)="SelectedVendor($event)" name="vendor">
            <option #t1 *ngFor="let I of vendors; let i = index" [value]="i" >{{I.name}}</option>
          </select>
      <!-- <label for="vendor"  style="color: red;">This Field is required</label> -->
    </div>
    <!-- </div> -->
    </div>
  </div>
    <br>
    <div class="row row justify-content-center">
      <div class="col-md-6" >
        <div class="form-group">
          <label for="category">Category *</label>
          <select class="form-control form-control-lg"  id="category" #category="ngModel"ngModel  (change)="SelectedCategory($event)" name="category">
            <option #t1 *ngFor="let I of filteredCategories; let i = index" [value]="i" >{{I.name}}</option>
          </select>
      <!-- <label for="category"  style="color: red;">This Field is required</label> -->

    </div>
    </div>
  </div>
    <br>

    <br>
    <div class="row row justify-content-center">
          <div class="col-md-6">
              <button   type="submit"  class="btn btn-success  pt-2 btn-block">Add Product</button>
      <label  *ngIf=" !this.contactForm.valid" style="color: red;" >Please enter a valid data..</label>
            </div>
      </div>
    </div>
</form>
<br>
