<!-- {{newCategory|json}} -->
<br>
<div class="row row justify-content-center">

<H1 class="col-md-6">Adding new Category :</H1>
</div>
<br>
<form id="contact-form"  #contactForm="ngForm" (ngSubmit)="OnSubmit(contactForm)">
  <div class="controls">
    <div class="row row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Name">Category Name *</label>
          <input id="Name" name="Name"  #Name="ngModel" [(ngModel)]="newCategory.name" class="form-control form-control-lg" ngModel required type="text"  >
          <label style="color:red;" for="Name" *ngIf="!Name?.valid && (Name?.dirty || Name?.touched)">This Field is required</label>
        </div>
      </div>
  </div>
  <br>
  <div class="row row justify-content-center">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Description">Category Description *</label>
            <input #Description="ngModel" class="form-control form-control-lg" [(ngModel)]="newCategory.description" id="Description" name="Description" type="text" required=""  maxlength="100">
          <label style="color:red;" for="Description" *ngIf="!Description?.valid && (Description?.dirty || Description?.touched)">This Field is required</label>

          </div>
          </div>

        </div>
        <br>
        <div class="row row justify-content-center">

          <div class="col-md-6">
            <div >
              <label >
                <input type="radio" name="isVisible"
                [value]="1" [checked]="isChecked" [(ngModel)]="isVisible">
                 Have a Parent Category?</label><br>
              </div>
            </div>
              </div>
              <br>
              <div class="row row justify-content-center">
      <div class="col-md-6" *ngIf="isVisible == 1">
        <div class="form-group">
          <label for="Parent">Parent Category Name</label>
          <select class="form-control form-control-lg"   id="Parent" (change)="SelectedCategory($event)">
            <option #t1 *ngFor="let I of categories; let i = index" [value]="i" >{{I.name}}</option>
          </select>
    </div>
  </div>
    <!-- </div> -->
    </div>
    <br>

    <div class="row row justify-content-center">

          <div class="col-md-6">
            <button name="save" [disabled]="!contactForm.valid" id="save" type="submit"   class="btn btn-success btn-lg  pt-2 btn-block">Add Category</button>
            <label style="color:red;" for="save" *ngIf="!contactForm.valid &&  Name?.touched">Please Fill The Required Fields..</label>
            </div>
      </div>
    </div>
      <br>
</form>
<!--  -->
