
    <!-- Open Content -->
    <section class="bg-light">
      <div class="container pb-5">
          <div class="row">
              <div class="col-lg-5 mt-5">
                  <div class="card mb-3">
                      <img
                class="card-img rounded-0 img-fluid"
                    src="https://localhost:7216/api/Image?id={{product.id}}"
                    onerror=" this.src ='assets/img/Product.jpg'"
                  />
                      <!-- <img class="card-img img-fluid" src="assets/img/product_single_10.jpg" alt="Card image cap" id="product-detail"> -->
                  </div>
                  <div class="row">


                  </div>
              </div>
              <!-- col end -->
              <div class="col-lg-7 mt-5">
                  <div class="card">
                      <div class="card-body">
                          <h1 class="h2">{{product.en_Name}}</h1>
                          <p style="color: red;" class="h3 py-2" *ngIf="product.quantity<1;else show">Not Available</p>


                         <ng-template #show>
                          <p class="h3 py-2"><small>EGP</small>{{product.price}}</p>
                         </ng-template>

                          <p class="py-2">
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                          </p>
                          <ul class="list-inline">

                              <li >
                                  <p >Category: <strong class="text-muted">{{product.CategoryName}}</strong></p>
                              </li>
                              <li >
                                  <p >Brand: <strong class="text-muted">{{product.VendorName}}</strong></p>
                              </li>
                              <li >
                                <p >Description: </p>
                            </li>
                          <p >{{product.description}}</p>
                          <li >
                            <p >Quantity: </p>
                                                  <!-- Quantity -->
                <div class="d-flex justify-content-center " >
                  <button class="btn btn-secondary btn-sm  "
                  (click)="stepDown()">
                 <i class="fas fa-minus"></i>
               </button>

                  <div class="form-outline">
                    <input id="form1" min="1" name="quantity" type="number" class="form-control" [(ngModel)]="newQuantity" />
                    <!-- <label class="form-label" for="form1">Quantity</label> -->
                  </div>

                  <button class="btn btn-secondary btn-sm  "
                     (click)="stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <!-- Quantity -->
                        </li>
                        <li>
                          <div class="list-inline-item"><button class="btn btn-lg btn-success" (click)="AddToCart()">Add To Cart</button>
                          </div>
                          <!-- <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button> -->

                        </li>
                        </ul>


                          <!-- <form action="" method="GET">
                              <input type="hidden" name="product-title" value="Activewear">
                              <div class="row">

                                  <div class="col-auto">
                                      <ul class="list-inline pb-3">
                                          <li class="list-inline-item text-right">
                                              Quantity
                                              <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                          </li>
                                          <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                          <li class="list-inline-item"><span class="badge bg-secondary" id="var-value" max="10">1</span></li>
                                          <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="row pb-3">
                                  <div class="col d-grid">
                                      <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                  </div>
                                  <div class="col d-grid">
                                      <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                  </div>
                              </div>
                          </form> -->

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Close Content -->
